<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-9 col-md-4">
      <h2>Login</h2>
      <form [formGroup]="loginForm">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input email formControlName="email" id="email" matInput type="email">
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">please enter a valid email.</mat-error>
          </mat-form-field>
          <small class="form-text text-muted" id="emailHelp">
            We'll never share your email with anyone else.</small>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" id="password" matInput type="password">
          </mat-form-field>
        </div>

        <mat-checkbox class="form-check-input mx-auto" color="primary" formControlName="keepSigned" id="keepSigned">Keep
          me signed in
        </mat-checkbox>

        <button (click)="onSubmit()"
                [disabled]="!loginForm.valid"
                mat-raised-button
                class="my-5"
                color="primary"
                type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
