<div class="container">
  <div class="row">
    <form [formGroup]="listForm">
      <h2>Create list</h2>
      <p>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="fill" class="float-right">
          <mat-label>Select Group</mat-label>
          <mat-select [(value)]="selGroup">
            <mat-option *ngFor="let group of groups" [value]="group._id">
              {{group.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <button (click)="onSubmit()" [disabled]="!listForm.valid" color="primary" mat-raised-button type="submit">Submit
      </button>
    </form>
  </div>
</div>
