.container {
  height: 100%;
}
mat-card {
  text-align: center;
}
mat-card-title {
  text-align: center;
  margin-bottom: 20px;
}
mat-form-field {
  width: 100%
}
.row {
  height: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
}
