<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-9 col-md-6">
      <h2>Signup Form</h2>
        <form [formGroup]="registerForm">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input email formControlName="email" matInput type="email">
            <mat-error *ngIf="registerForm.controls['email'].hasError('email')">please enter a valid email.</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password">
          </mat-form-field>
          <br>
          <button (click)="onSubmit()" [disabled]="!registerForm.valid" color="primary" mat-raised-button type="submit">
            Submit
          </button>
        </form>
    </div>
  </div>
</div>


