<div class="container">
    <div class="row">
      <form [formGroup]="shoppingForm">
        <h2>Edit list</h2>
        <p>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
          </mat-form-field>
        </p>
        <button (click)="onSubmit()" color="primary" mat-raised-button type="submit" [disabled]="!shoppingForm.valid">Update</button>
      </form>
    </div>
  </div>
  