<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>Boodschappen lijst</h3>
    <p>
      Boodschappen lijst om online makkelijk een Boodschappen lijst te hebben die je overal kan gebruiken en iedereen kan gebruiken in een groep
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          alt="..."
          class="card-img-top rounded-circle border profile-pic"
          src="assets/images/person.png"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Niels Kloos</h5>
        <p class="card-text">
          Studentnummer: 2159340
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4 shadow-sm p-3 mb-5 bg-white rounded">
    <p>User</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>birthdate: date</li>
      <li>email: string</li>
      <li>password: string</li>
      <li>friendRequests: User[]</li>
      <li>friends: User[]</li>
      <li>inGroup: FamilyGroup</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4 shadow-sm p-3 mb-5 bg-white rounded">
    <p>FamilyGroup</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>GroupCode: number</li>
      <li>GroupPassword: number</li>
      <li>users: User[]</li>
      <li>shopList: ShopList</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4 shadow-sm p-3 mb-5 bg-white rounded">
    <p>ShopList</p>
    <ul>
      <li>id: number</li>
      <li>itemCount: string</li>
      <li>Summary: string</li>
      <li>products: Product[]</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4 shadow-sm p-3 mb-5 bg-white rounded">
    <p>Product</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>category: string</li>
      <li>price: number</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>

    <h3>ERD</h3>
    <img
      alt="ERD" class="rounded float-left img-fluid" src="assets/images/ERD.png"/>
  </div>

</div>
