mat-form-field, table {
  width: 100%;
  padding-inline: 4px;
}
.add-button {
  display: flex;
  justify-content: center;
}
.row {
  height: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
}

