<div class="container" xmlns="http://www.w3.org/1999/html">
  <h1>{{groupDetails.name}}
    <button mat-icon-button class="m-1" routerLink="edit">
    <mat-icon>edit</mat-icon>
    </button></h1>
  <p>Owner: {{groupDetails.owner.name}}</p>
  <h2>Members</h2>
  <mat-action-list>
    <mat-list-item *ngFor="let item of groupDetails.members;" routerLink="/user/${id}">
      <div class="list-header">
        <div class="product-body">
          <p mat-line class="md-body-2">{{item.name}}</p>
        </div>
      </div>
    </mat-list-item>
  </mat-action-list>
</div>

