.container {
  padding: 50px 100px 100px;
}

.list-footer {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.list-header {
  display: flex;
}
.mat-card-avatar {
  max-width: 80px;
}

.md-caption {
  margin-top: -10px;
}

p.mat-line {
  margin-left: 10px;
}

.product-body {
  justify-content: center;
}
