<script src="dashboard.component.spec.ts"></script>
<section class="jumbotron text-center">
  <div class="container ml-lg-5 text-left">
    <h1>About this site</h1>
    <p class="lead text-muted">
      TODO: <br>
      - Current shopping list created doesnt get put into groups<br>
      - If no groups, dont show error to user<br>
      - If no list, dont show error to user<br>
    </p>
      <a class="my-2" mat-raised-button color="primary" (click)="getUser()">Get user info</a>
  </div>
</section>
