<div class="container">
  <div class="row">
    <form [formGroup]="groupForm">
      <h2>Create Group</h2>
      <p>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>
      </p>
      <button (click)="onSubmit()" color="primary" mat-raised-button type="submit" [disabled]="!groupForm.valid">Submit</button>
    </form>
  </div>
</div>
